.dropdown {
  background: #50a8e1;
  border: 1px solid #2d6898;
  &:hover {
    background: rgba(80, 168, 225, 0.9);
  }
}
.btn-inverse {
  background-color: #363636;
  background-image: linear-gradient(to bottom, #444, #222);
  background-image: -moz-linear-gradient(top, #444, #222);
  background-image: -o-linear-gradient(top, #444, #222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444), to(#222));
  background-image: -webkit-linear-gradient(top, #444, #222);
  background-repeat: repeat-x;
  border-color: #222 #222 #000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-radius: 0;
  color: #fff;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444',endColorstr='#ff222222',GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background: #50a8e1;
  border: 1px solid #2d6898;
  &:hover {
    background: #505050;
  }
}
